:root {
    --background: hsl(0, 5%, 15%);
    --background__hover: hsl(0, 5%, 22%);
    --text-color: hsl(45, 40%, 80%);

    --pink: hsl(350, 75%, 75%);
    --pink__hover: hsl(350, 75%, 70%);
    --red: hsl(0, 65%, 65%);
    --red__hover: hsl(0, 65%, 60%);
    --orange: hsl(30, 75%, 60%);
    --orange__hover: hsl(30, 75%, 50%);
    --yellow: hsl(50, 80%, 75%);
    --yellow__hover: hsl(50, 80%, 60%);
    --green: hsl(120, 60%, 70%);
    --green__hover: hsl(120, 60%, 60%);
    --blue: hsl(185, 55%, 70%);
    --blue__hover: hsl(185, 55%, 50%);
    --purple: hsl(270, 55%, 75%);
    --purple__hover: hsl(270, 55%, 70%);

    --base__background: var(--text-color);
    --base__color: var(--background);
    --primary: var(--blue);
    --primary__hover: var(--blue__hover);
    --confirm: var(--green);
    --confirm__hover: var(--green__hover);
    --deny: var(--orange);
    --deny__hover: var(--orange__hover);

    --serif: 'Merriweather', 'Times New Roman', Times, serif;
    --sans: 'Nunito', Arial, Helvetica, sans-serif;
    --mono: 'Ubuntu Sans Mono', 'Courier New', Courier, monospace;
}
[data-theme="light"] {
    --background: hsl(260, 18%, 97%);
    /* --background: hsl(45, 50%, 88%); */
    --background__hover: hsl(45, 50%, 80%);
    --text-color: hsl(0, 5%, 15%);

    --pink: hsl(2, 60%, 85%);
    --pink__hover: hsl(2, 55%, 75%);
    --red: hsl(0, 60%, 70%);
    --red__hover: hsl(0, 55%, 55%);
    --orange: hsl(17, 80%, 75%);
    --orange__hover: hsl(17, 70%, 65%);
    --yellow: hsl(40, 80%, 80%);
    --yellow__hover: hsl(40, 75%, 70%);
    --green: hsl(95, 25%, 70%);
    --green__hover: hsl(95, 20%, 60%);
    --blue: hsl(235, 30%, 80%);
    --blue__hover: hsl(235, 25%, 75%);
    --purple: hsl(300, 35%, 80%);
    --purple__hover: hsl(300, 30%, 75%);

    --base__background: hsl(215, 5%, 85%);
    --base__color: var(--text-color);
    --primary: var(--blue);
    --primary__hover: var(--blue__hover);
    --confirm: var(--green);
    --confirm__hover: var(--green__hover);
    --deny: var(--red);
    --deny__hover: var(--red__hover);
}

* {
    margin: 0;
    color: var(--text-color);
    font-family: var(--sans);
}

::selection {
    background-color: var(--text-color);
    color: var(--background);
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    margin-left: 100px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--serif);
}

body {
    background-color: var(--background);
    transition: background-color 0.5s ease;
}

.serif {
    font-family: var(--serif);
}
.sans {
    font-family: var(--sans);
}
.mono {
    font-family: var(--mono);
}

.btn {
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 10px;
    padding: 3px 30px;
    transition: background-color 0.8s ease, color 1.0s ease, box-shadow 3.0s ease, border 0.8s ease;
    margin: 0 10px;
    text-decoration: none;
    border: 2px solid var(--base__background);
    text-align: center;
}
.btn:hover {
    background-color: var(--base__background);
    color: var(--base__color);
    box-shadow: 0 0 15px var(--base__background);
}
[data-theme="light"] .btn {
    border: 2px solid transparent;
    background-color: var(--base__background);
    color: var(--base__color);
}
[data-theme="light"] .btn:hover {
    box-shadow: none;
}

.btn-primary {
    border: 2px solid var(--primary);
    color: var(--primary);
}
.btn-primary:hover {
    background-color: var(--primary);
    box-shadow: 0 0 15px var(--primary__hover);
}
[data-theme="light"] .btn-primary {
    background-color: var(--primary);
}
[data-theme="light"] .btn-primary:hover {
    border: 2px solid var(--primary__hover);
}

.btn-confirm {
    border: 2px solid var(--confirm);
    color: var(--confirm);
}
.btn-confirm:hover {
    background-color: var(--confirm);
    box-shadow: 0 0 15px var(--confirm__hover);
}
[data-theme="light"] .btn-confirm {
    background-color: var(--confirm);
}
[data-theme="light"] .btn-confirm:hover {
    border: 2px solid var(--confirm__hover);
}

.btn-deny {
    border: 2px solid var(--deny);
    color: var(--deny);
}
.btn-deny:hover {
    background-color: var(--deny);
    box-shadow: 0 0 15px var(--deny__hover);
}
[data-theme="light"] .btn-deny {
    background-color: var(--deny);
}
[data-theme="light"] .btn-deny:hover {
    border: 2px solid var(--deny__hover);
}

.btn-pink {
    border: 2px solid var(--pink);
    color: var(--pink);
}
.btn-pink:hover {
    background-color: var(--pink);
    box-shadow: 0 0 15px var(--pink__hover);
}
[data-theme="light"] .btn-pink {
    background-color: var(--pink);
}
[data-theme="light"] .btn-pink:hover {
    border: 2px solid var(--pink__hover);
}

.btn-red {
    border: 2px solid var(--red);
    color: var(--red);
}
.btn-red:hover {
    background-color: var(--red);
    box-shadow: 0 0 15px var(--red__hover);
}
[data-theme="light"] .btn-red {
    background-color: var(--red);
}
[data-theme="light"] .btn-red:hover {
    border: 2px solid var(--red__hover);
}

.btn-orange {
    border: 2px solid var(--orange);
    color: var(--orange);
}
.btn-orange:hover {
    background-color: var(--orange);
    box-shadow: 0 0 15px var(--orange__hover);
}
[data-theme="light"] .btn-orange {
    background-color: var(--orange);
}
[data-theme="light"] .btn-orange:hover {
    border: 2px solid var(--orange__hover);
}

.btn-yellow {
    border: 2px solid var(--yellow);
    color: var(--yellow);
}
.btn-yellow:hover {
    background-color: var(--yellow);
    box-shadow: 0 0 15px var(--yellow__hover);
}
[data-theme="light"] .btn-yellow {
    background-color: var(--yellow);
}
[data-theme="light"] .btn-yellow:hover {
    border: 2px solid var(--yellow__hover);
}

.btn-green {
    border: 2px solid var(--green);
    color: var(--green);
}
.btn-green:hover {
    background-color: var(--green);
    box-shadow: 0 0 15px var(--green__hover);
}
[data-theme="light"] .btn-green {
    background-color: var(--green);
}
[data-theme="light"] .btn-green:hover {
    border: 2px solid var(--green__hover);
}

.btn-blue {
    border: 2px solid var(--blue);
    color: var(--blue);
}
.btn-blue:hover {
    background-color: var(--blue);
    box-shadow: 0 0 15px var(--blue__hover);
}
[data-theme="light"] .btn-blue {
    background-color: var(--blue);
}
[data-theme="light"] .btn-blue:hover {
    border: 2px solid var(--blue__hover);
}

.btn-purple {
    border: 2px solid var(--purple);
    color: var(--purple);
}
.btn-purple:hover {
    background-color: var(--purple);
    box-shadow: 0 0 15px var(--purple__hover);
}
[data-theme="light"] .btn-purple {
    background-color: var(--purple);
}
[data-theme="light"] .btn-purple:hover {
    border: 2px solid var(--purple__hover);
}

/* TODO: Remove this */
form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 50%;
}
form > input {
    color: var(--background);
}
