.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 80px;
    aspect-ratio: 1 / 1;
    text-decoration: none;
    font-family: var(--serif);
}
.logo p {
    font-size: 2em;
    transition: text-shadow 2.0s ease;
}
.logo p:hover {
    text-shadow: 0 0 30px var(--text-color);
}

.nav-link {
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
    transition: text-shadow 2.0s ease;
    font-family: var(--serif);
}
.nav-link:hover {
    text-decoration: underline;
    text-shadow: 0 0 20px var(--text-color);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(20, 5%, 12%);
    top: 0;
    position: sticky;
    padding: 0 20px;
}
[data-theme="light"] header {
    /* TODO: create variables for this */
    background-color: rgba(0, 0, 0, 0.2);
}

.link-container {
    display: flex;
    gap: 30px;
    margin-right: 40px;
}
