:root {
    --global-header: hsl(20, 5%, 12%);
    --global-header__hover: hsl(0, 3%, 22%);
    --header-active-bg: var(--text-color);
    --header-active-link: var(--background);
}
[data-theme="light"] {
    --global-header: hsl(45, 40%, 85%);
    --global-header__hover: hsl(45, 45%, 92%);
    --header-active-bg: white;
    --header-active-link: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background-color: var(--global-header);
    padding: 0 10px;
    transition: all 0.5s ease;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100vh - 20px);
    margin: 10px 0;
}

.top-links, .bottom-links {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

header a {
    padding: 5px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    color: var(--text-color);
}
header a:hover {
    background-color: var(--global-header__hover);
}

header a.active-link {
    background-color: var(--header-active-bg);
    color: var(--header-active-link);
}
