:root {
    --secondary-header: hsl(0, 3%, 18%);
}
[data-theme="light"] {
    --secondary-header: white;
}

.secondary-header {
    background-color: var(--secondary-header);
    position: fixed;
    top: 0;
    left: 60px;
    height: 100vh;
    border-radius: 15px 0 0 15px;
    padding: 0 10px;
    width: 120px;
    transition: all 0.5s ease;
}